<div class="login-container">
    <div class="login-text-box-filed">
        <div class="username-filed">
    <input  type="text" class="form-control" placeholder="user name" [(ngModel)]="userName"></div>
    <div class="password-filed"><input  type="password" class="form-control" placeholder="password" [(ngModel)]="password"></div>
</div>
    <div class="login-button-container">
    <button class="btn btn-primary" (click)="login()">login</button>
    <div class="sign-up-button">
    <button class="btn btn-primary" routerLink="/singup">signUp</button>
</div>
</div>
{{loginResponse}}
</div>
